.d-block-w-100{
    display: block;
    width: 10px;
    height: 10px;
}
.item img {
    height: 20%;
    width: 20%;
}
/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: green;
    width: 199px;
}
/* Modify the background color */
.navbar-custom {
	background-color: lightgreen;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
#galeriaprod .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}
#galeriaprod img{
width: 40%;
height: 100px;
}
#galeriaprod img:hover{
    border: 5px solid #fdfdfd
}